@charset "UTF-8";
$kae-image-background-color: #CC0033;
$detail-box-background-color: #000;

html{
    columns: $kae-image-background-color;
}
body{
    background-color: $kae-image-background-color;
    color: #ffffff;
    font-size: 12px;
}

$dwidth_middle_size: 1280px;
$dwidth_small_size: 588px;

@mixin  biz-detail-item-box($hmargin:5px, $vmargin:10px) {
//    content: "";
//    display: block;
//    clear: both;
    background-color: $kae-image-background-color;
    margin-top: $vmargin;
    margin-left: $hmargin;
    margin-right: $hmargin;
    margin-bottom: $vmargin;
}
@mixin biz-detail-item-header-box($imgwidth: 100%, $hpadding: 10px, $vpadding: 10px){
    img{
        width: $imgwidth;
    }
    padding-left: $hpadding;
    padding-right: $hpadding;
    padding-top: $vpadding;
}
@mixin biz-detail-item-descrip-box($hpadding: 10px, $vpadding: 10px){
    padding-left: $hpadding;
    padding-right: $hpadding;
    padding-bottom: $vpadding;
}

@media screen and (max-width: $dwidth_small_size) {
    $vpadding-small: 5px;
    $hpadding-small: 5px;
    $vmargin-small: 5px;
    $hmargin-small: 2px;
     .content-top-box{
        padding-bottom: 10px;
    }
    .content-top-header-box {
        text-align: center;
        border-bottom: solid 1px #ffffff;
        img {
            display: none;
        }
        font-size: 24px;
    }
    .content-top-descrip-box {
        padding-top: $vpadding-small;
        padding-left: $hpadding-small;
        font-size: 16px;
        font-weight: bold;
    }

    .biz-detail-box{
        content: "";
        display: block;
        background-color: $detail-box-background-color;
        padding-top: $vpadding-small;
        padding-bottom: $vpadding-small;
        padding-left: $hpadding-small;
        padding-right: $hpadding-small;
        margin-left: $vmargin-small;
        margin-right: $vmargin-small;
    }
    .biz-detail-modeling-box{
        @include biz-detail-item-box($hmargin: $hmargin-small, $vmargin: $vmargin-small)
    }
    .biz-detail-modeling-header-box{
        @include biz-detail-item-header-box($hpadding: $hpadding-small, $vpadding: $vpadding-small)
    }
    .biz-detail-modeling-descrip-box{
        @include biz-detail-item-descrip-box($hpadding: $hpadding-small, $vpadding: $vpadding-small)
    }

    .biz-detail-arch-design-box{
        @include biz-detail-item-box($hmargin: $hmargin-small, $vmargin: $vmargin-small)
    }
    .biz-detail-arch-design-header-box{
        @include biz-detail-item-header-box($hpadding: $hpadding-small, $vpadding: $vpadding-small)
    }
    .biz-detail-arch-design-descrip-box{
        @include biz-detail-item-descrip-box($hpadding: $hpadding-small, $vpadding: $vpadding-small)
    }
    
    .biz-detail-engineering-box{
        @include biz-detail-item-box($hmargin: $hmargin-small, $vmargin: $vmargin-small)
    }
    .biz-detail-engineering-header-box{
        @include biz-detail-item-header-box($hpadding: $hpadding-small, $vpadding: $vpadding-small)
    }
    .biz-detail-engineering-descrip-box{
        @include biz-detail-item-descrip-box($hpadding: $hpadding-small, $vpadding: $vpadding-small)
    }

}

@media screen and (min-width: $dwidth_small_size) and (max-width: $dwidth_middle_size) {
    $vpadding-middle: 10px;
    $hpadding-middle: 10px;
    $hmargin-middle: 5px;
    .content-top-box{
        padding-bottom: 10px;
    }
    .content-top-header-box {
        text-align: center;
        border-bottom: solid 1px #ffffff;
        p {
            display: none;
        }
    }
    .content-top-descrip-box {
        padding-top: $vpadding-middle;
        padding-left: $hpadding-middle;
        font-size: 16px;
        font-weight: bold;
    }

    .biz-detail-box{
        content: "";
        display: block;
        background-color: $detail-box-background-color;
        padding-top: $vpadding-middle;
        padding-bottom: $vpadding-middle;
        padding-left: $hpadding-middle;
        padding-right: $hpadding-middle;
        margin-left: $hmargin-middle;
        margin-right: $hmargin-middle;
    }
    .biz-detail-modeling-box{
        @include biz-detail-item-box()
    }
    .biz-detail-modeling-header-box{
        @include biz-detail-item-header-box()
    }
    .biz-detail-modeling-descrip-box{
        @include biz-detail-item-descrip-box()
    }

    .biz-detail-arch-design-box{
        @include biz-detail-item-box()
    }
    .biz-detail-arch-design-header-box{
        @include biz-detail-item-header-box()
    }
    .biz-detail-arch-design-descrip-box{
        @include biz-detail-item-descrip-box()
    }
    
    .biz-detail-engineering-box{
        @include biz-detail-item-box()
    }
    .biz-detail-engineering-header-box{
        @include biz-detail-item-header-box()
    }
    .biz-detail-engineering-descrip-box{
        @include biz-detail-item-descrip-box()
    }
}

@media screen and (min-width: $dwidth_middle_size) {
    $vpadding-large: 10px;
    $hpadding-large: 5px;
    $hmargin-large: 5px;
    .content-top-box{
        padding-bottom: 10px;
    }
    .content-top-header-box {
        text-align: center;
        border-bottom: solid 1px #ffffff;
        p {
            display: none;
        }
    }
    .content-top-descrip-box {
        padding-top: $vpadding-large;
        padding-left: $hpadding-large;
        font-size: 16px;
        font-weight: bold;
    }
    .biz-detail-header-box {
        text-align: center;
    }
    .biz-detail-box{
        content: "";
        display: block;
        background-color: $detail-box-background-color;
        padding-top: $vpadding-large;
        padding-bottom: $vpadding-large;
        padding-left: $hpadding-large;
        padding-right: $hpadding-large;
        margin-left: $hmargin-large;
        margin-right: $hmargin-large;
    }
    .biz-detail-items-box::after {
        content: "";
        display: block;
        clear: both;
    }
    .biz-detail-modeling-box{
        float: left;
        width: 33%;
        @include biz-detail-item-box();
    }
    .biz-detail-modeling-header-box{
        @include biz-detail-item-header-box();
    }
    .biz-detail-modeling-descrip-box{
        @include biz-detail-item-descrip-box();
    }

    .biz-detail-arch-design-box{
        float: left;
        width: 32%;
        @include biz-detail-item-box();
    }
    .biz-detail-arch-design-header-box{
        @include biz-detail-item-header-box();
    }
    .biz-detail-arch-design-descrip-box{
        @include biz-detail-item-descrip-box();
    }
    
    .biz-detail-engineering-box{
        float: left;
        width: 32%;
        @include biz-detail-item-box();
    }
    .biz-detail-engineering-header-box{
        @include biz-detail-item-header-box();
    }
    .biz-detail-engineering-descrip-box{
        @include biz-detail-item-descrip-box();
    }

}

.info-box{
    text-decoration: none;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
